decoration {
    border-radius: 9px;
}
  
window, window.background {
    border-radius: 0 0 9px 9px;
}
  
window.maximized {
    border-radius: 0;
}
  
headerbar, title {
    background: inherit;
    border: none;
}